/autom4te.cache/
aclocal.m4
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
Makefile.in
Makefile
missing
src/Makefile.in
stamp-h1
*.log
*.o
src/waterwaves
src/splinetest
*.out
octave-workspace
.tags*

